{
	admin off
	persist_config off
	auto_https off

	{$CADDY_GLOBAL_OPTIONS}

	# dari DEBUG -> INFO biar log tidak terlalu ramai
	# kalau masih ramai juga, ganti INFO jadi WARN
	log {
    output stderr
    format json
    level INFO
  }

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

:{$PORT:80} {
  root * /app/public
  encode zstd br gzip

  route {
    handle_path /storage* {
      rewrite * /absen{path}
      header X-Storage-Proxy "1"
      reverse_proxy https://s3.absensi.ptsasmito.com {
        header_up Host s3.absensi.ptsasmito.com
      }
    }

    # BLOCK semua PHP kecuali index.php
    @notIndexPhp {
      path *.php
      not path /index.php
    }
    respond @notIndexPhp 404

    # BLOCK file sensitif / dotfiles
    @forbidden {
      path /.env* /.git/* /.ht* /php.ini* /composer.* /artisan
    }
    respond @forbidden 404

    php_server
  }
}


